$color-primary: #003f5c;

@mixin title {
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Helvetica, Arial, sans-serif,
               'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

.header {
  background-color: $color-primary;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 6;

  &__title {
    @include title;

    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
  }
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.lead {
  margin: 3em 0 4em;

  &__text {
    font-size: 1.2em;
    margin: 0;
  }
}

.chart {
  margin: 3em 0;

  &__title {
    @include title;

    letter-spacing: 0.025em;
  }

  &__canvas {
    display: block;
    margin: 2em auto;
    width: 100%;
  }

  &__feature {
    padding: 0.5em;
    width: 100%;

    &__checkbox {
      margin: 0;
      padding: 0;
    }

    &__text {
      margin: 0;
    }
  }

  &__cards {
    display: flex;
    margin-top: 2em;

    &__card {
      background-color: rgba($color: $color-primary, $alpha: 0.05);
      border-radius: 0.25em;
      border: 1px solid rgba($color: $color-primary, $alpha: 0.5);
      padding: 1em;
      text-align: center;
      width: 100%;

      & + & {
        margin-left: 1em;
      }

      &__title {
        @include title;
      }

      &__big-number {
        font-weight: bold;
        font-size: 4em;
        margin: 0;
      }
    }
  }
}
