$color-primary: #003f5c;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-primary;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
               Helvetica, Arial, sans-serif,
               'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0;
}

.header {
  background-color: $color-primary;
  padding: 1em 0;
  position: sticky;
  top: 0;
  z-index: 6;

  &__title {
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}

.row {
  display: flex;
  justify-content: space-between;
}

.lead {
  margin: 3em 0 4em;

  &__text {
    font-size: 1.2em;
    margin: 0;
  }
}

.chart {
  margin: 3em 0;

  &__title {
    font-weight: normal;
    letter-spacing: 0.025em;
    margin: 0;
    text-transform: uppercase;
  }

  &__canvas {
    display: block;
    margin: 2em auto;
    width: 100%;
  }

  &__feature {
    padding: 0.5em;
    width: 100%;

    &__checkbox {
      margin: 0;
      padding: 0;
    }

    &__text {
      margin: 0;
    }
  }
}
